.body {
  font-family: 'Open Sans', sans-serif;
}
header {
  /* position: relative; */
  display: block;
  /*заменить потом на 100%*/
  height: 835px;

  background-image: url("..//img/home-1-slider-image-1.jpg");
  background-repeat: no-repeat; 
  background-position: 0px 0px;
  background-size: cover; 
  background-color: transparent;
  /* overflow: visible; */
} 
/* ********************************* */
/* ************************** */
/* Собственно сам слайдер */
/* .slider{
    /* max-width: 80%; */
    /* position: relative;
    
    height:  100%; */
    /* margin-bottom: 130px; */
    /* margin: auto; */
/* }  */
/* Картинка маштабируется по отношению к родительскому элементу */
/* .slider .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

/* Кнопки вперед и назад */
/* .slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
} */


/* При наведении на кнопки добавляем фон кнопок */

/* .slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */
/* Кружочки */

/* .slider-dots {
  text-align: center;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
} */


/* Анимация слайдов */

/* .slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
} */

/* *************************************** */
/* ********************************* */

a {
  font-family: 'Open Sans', sans-serif;
	text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  color: #333;
}

ul {
	list-style-type: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
  margin: auto;
}

/*** Начало header menu***/
header .wrapper {
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;

  background-color: transparent;
}

.main-menu {
  display: flex;
  width: auto;
  height: auto;
  bottom: auto;

}

.main-menu a {
	
	font-size: 16px;
  padding: 20px;

  transition: color 500ms ease;
  color: #fff;
  text-transform: uppercase;

}

.main-menu a:hover {
	color: tan;
}
/* Конец header menu*/
/* *********************** */
.slide {
  display: block;
  height: 100%;
}

.s1-box {

  position: absolute;
  left: auto;
  top: 10%;
  right: 0%;
  bottom: 0%;
  width: 60%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
} 

.s1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s1-h1 {
  flex-wrap: nowrap;
  font-family: Kurale, sans-serif;
  color: #fff;
  font-size: 80px;
  line-height: 1.5;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px #000;
}

.s1-p {
  max-width: 800px;
  margin-top: 20px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.s1-button {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: border-color 500ms ease, background-color 500ms ease;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.s1-button:hover {
  border-color: tan;
  background-color: tan;
}
/* ************************ */
/*  Горько-Сладкое предложение */
.s2 {
display: block;
padding-top: 10%;
padding-bottom: 10%;
width: auto;
height: auto;
background-color: transparent;
text-align: center;


}


.s2-h2 {

  font-family: Kurale, sans-serif;
  font-size: 42px;
  line-height: 1.5;

  color: #333;
  text-align: center;
  text-transform: uppercase;

  font-weight: bold;
  margin-bottom: 10px;
}
.s2-separator {
  margin-top: 15px;
  margin-bottom: 15px;

  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.s2-text {

  max-width: 800px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  
}
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* width: 570px; */
  margin: 20px 20px;

  /* list-style: none; */
}

.service
 {
  position: relative; 
  width: 270px;
  margin-bottom: 30px;
}


.service__image {

  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;

  transition: all 0.1s linear;

  
}

.service__title,
.typeJob__title {
  
  margin-bottom: 10px;
  margin-top: 20px;

  font-family: Kurale, sans-serif;
  text-transform: uppercase;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #333;
}

.service__text,
.description__text,
.typeJob__text {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;

  
}
.service__image:hover {
  transform: scale(1.3);
}

.s2-blog {
  /* display: block; */
  /* box-sizing: border-box;  */
  width: auto;
  height: auto;
  /* max-width: 1200px; */
  /* background-repeat: none;  
  text-align: center; */ 

  background-image: url("../img/h1-bacground-img-1.jpg");
  background-attachment: fixed;
  padding-top: 10%;
  padding-bottom: 10%;
  background-position: 0% 0%;
  background-size: cover;
  background-attachment: fixed;
  /* -webkit-transition: opacity 200ms ease; */
  transition: opacity 200ms ease;
  
} 
.s2-blog-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: 0 0; 
  
  
  max-width: 1200px;
  text-align: center;

}
.description {
  /* position: relative;  */
  width: auto;
  height: auto;
  margin-bottom: 30px;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px; 
 

}
.descriptions {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 60px;
  /* width: 570px; */
  /* margin: 20px 20px; */
  max-width: 1200px;
  /* list-style: none; */


}


.description__image {
  /* display: inline-block; */
  background-position: 0px 0px;
  background-size: cover;
  width: 100%;
  /* height: 300px; */
}

.description__metaLink {
  
  
  /* box-sizing: border-box; */
  /* background-color: transparent; */
  transition: color 500ms ease;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

}
.description__title {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #333;
  font-family: Kurale, sans-serif;
  text-transform: uppercase;
  transition: color 500ms ease;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

}

a:hover {

 
    color: tan;
    font-style: normal;
    text-decoration: none;
}
  
.description__text {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;

  
}

.description__image {
  width: 100%;
  height: 300px;
  vertical-align: middle;
  display: inline-block;
  border: 0;
  justify-content: center;
  
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 5%;
  padding-bottom: 5%;

  width: auto;
  height: auto;

  background-image: url('../img/h1-bacground-img-2.jpg');
  background-color: transparent;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  width: auto;
  height: auto;

  background-color: transparent;
  /* text-align: center; */

  
}
.typsJobs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1200px;
  text-align: center;
}

.typeJob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.typeJob__textCountity {
  font-family: Kurale, sans-serif;
  color: tan;
  font-size: 80px;
  line-height: 1;
}
.typeJob__title {
  font-family: Kurale, sans-serif;
  text-transform: uppercase;
}














